Source: python-farama-notifications
Section: python
Priority: optional
Maintainer: Dong Xu <me@eipi.fun>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 openstack-pkg-tools,
 pybuild-plugin-pyproject,
 python3-all,
 python3-setuptools,
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/EiPiFun/Farama-Notifications
Vcs-Git: https://salsa.debian.org/EiPiFun/Farama-Notifications.git
Homepage: https://github.com/Farama-Foundation/Farama-Notifications

Package: python3-farama-notifications
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Description: Notifications for all Farama Foundation maintained libraries
 Allows for providing notifications on import to all Farama Packages
 This package contains the Python 3.x module.
